a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.BookItem {
  background-color: lightblue;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px black;
}

.BookItem h2 {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem;
}

.BookItem img {
  width: 200px;
}

.BookItem h3 {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  margin: 0.5rem;
}